@media screen and (max-device-width: 430px) {
    .wrap{
        .page{
            padding: 30px;
            display: none;
        }
        .mainPage{
            width: 100%;
            height: 64vh;
            position: relative;
            display: flex;
            flex-direction: column;
            .mainPage_background{
                width: 200%;
                height: auto;
            }
            .mainPage_header{
                align-items: center;
                .mainPage_nav{
                    display: none;
                }
                .mainPage_cartThemeCon{
                    display: none;
                }
                .mainPage_burger{
                    display: flex;
                    width: 40px;
                    height: 30px;
                    flex-direction: column;
                    justify-content: space-between;
                    .mainPage_burgerRow{
                        width: 100%;
                        height: 3px;
                        border-radius: 6px;
                        background-color: #fff;
                    }
                }
            }
            .mainPage_content{
                align-items: flex-start;

                .mainPage_title{
                    font-size: 24px;
                    text-align: start;
                }
                .mainPage_subtitle{
                    font-size: 14px;
                    text-align: start;

                }
            }
            .mainPage_inputContainer{
                margin-top: 15px;
                width: 300px;
            }
            .mainPage_blur{}


        }
        .plants{
            display: flex;
            flex-direction: column;
            .plants_abilities{
                flex-direction: column;
                height: 300px;
            }
            .plants_basicContent{
                .plantsContainer_title{
                    font-size: 35px;
                    width: 100%;
                }
                .plantsContainer{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .plant{
                        margin-bottom: 230px;
                    }
                }

            }
        }
    }
}