@media screen and (max-device-width: 430px) {
    .wrap{
        .page{
            padding: 20px;
        }
        .mainPage{
            width: 100%;
            height: 48vh;
            position: relative;
            display: flex;
            flex-direction: column;
            .mainPage_background{
                width: 100%;
                height: 85%; 
                background-size: cover; 
                background-position: center;
            }
            .touchEl{
                display: none;
            }
            .mainPage_header{
                align-items: center;
                .mainPage_nav{
                    display: none;
                }
                .mainPage_cartThemeCon{
                    display: none;
                }
                .mainPage_burger{
                    display: flex;
                    width: 40px;
                    height: 30px;
                    flex-direction: column;
                    justify-content: space-between;
                    .mainPage_burgerRow{
                        width: 100%;
                        height: 3px;
                        border-radius: 6px;
                        background-color: #fff;
                    }
                }
            }
            .mainPage_content{
                align-items: flex-start;

                .mainPage_title{
                    font-size: 24px;
                    text-align: start;
                }
                .mainPage_subtitle{
                    font-size: 14px;
                    text-align: start;

                }
            }
            .mainPage_inputContainer{
                margin-top: 15px;
                width: 300px;
            }
        }
        .plants{
            display: flex;
            flex-direction: column;
            .plants_abilities{
                flex-direction: column;
                height: 300px;
            }
            .plants_basicContent{
                .plantsContainer_title{
                    font-size: 35px;
                    width: 100%;
                }
                .plantsContainer{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    align-content: flex-end;
                    .plant{
                        margin-bottom: 230px;
                    }
                }

            }
        }
        .interior {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 20px;
            margin-top: -150px;
            .interior_title {
                color: #081323;
                font-size: 36px;
                font-weight: 500;
                margin-bottom: 10px;
                text-align: center;
            }
            .interior_subtitle {
                color: #4F4F4F;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 20px;
                text-align: center;
            }
            .interior_Con {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: auto;
                .interior_leftPart, .interior_rightPart {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 20px;
                    .room1Con, .room2Con, .room3Con {
                        width: 100%;
                        max-width: 100%;
                        height: auto;
                        margin-bottom: 20px;
                        border-radius: 20px;
                        img {
                            width: 100%;
                            height: auto;
                            border-radius: 20px;
                        }
                        .room1_cover, .room2_cover, .room3_cover {
                            font-size: 24px;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
        .care {
            width: 100%;
            min-height: 100vh;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        
            .care_leftPart {
                width: 100%;
                text-align: center; 
                .care_title {
                    font-size: 36px;
                    margin-bottom: 10px;
                }
                .care_subtitle {
                    font-size: 14px;
                    margin-bottom: 20px;
                }
                .care_tips {
                    margin-top: 20px;
                    .care_tip {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 20px;
        
                        .care_tipIcon {
                            width: 50px;
                            height: 50px;
                            margin-bottom: 10px;
                        }
                        .care_tipText {
                            width: 80%;
                            .care_tipTitle {
                                font-size: 24px;
                            }
                            .care_tipDescription {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .care_rightPart {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
        
                .care_img {
                    width: 90%;
                    height: auto;
                    border-radius: 20px;
                    margin-top: 50px;
                }
            }
        }
        .futer{
            margin-top: 50px;
            min-height: 590px;
            .futer_content{
                flex-direction: column;
                .futer_newslatter{
                    .futer_newslatter_title{
                        font-size: 36px;
                    }
                    .futer_newslatter_inputContainer{
                        margin-top: 10px;
                    }
                }
                .futer_nav{
                    width: 100%;
                    flex-wrap: wrap;
                    margin-top: 30px;
                    .futer_navEl{
                        margin-bottom: 30px;
                    }
                }
            }
            .futer_hr{
                margin: 20px 0 20px 0;
            }
        }
        
    }
}