*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Work Sans;
}
.wrap{
    width: 100%;
    min-height: 100vh;
    .page{
        padding: 120px;
    }
    .mainPage{
        width: 100%;
        height: 100vh;
        position: relative;
        color: #fff;
        padding-top: 40px;
        .mainPage_background{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .mainPage_header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .mainPage_logo{
                width: 165px;
                display: flex;
                justify-content: space-between;
                font-size: 32px;
                font-weight: 700;
                #logo{
                    width: 38px;
                }
            }
            .mainPage_nav{
                width: 534px;
                display: flex;
                justify-content: space-between;
                font-size: 20px;
                font-weight: 400;
                .mainPage_navEl{
                    text-decoration: none;
                    color: #fff;
                }
            }
            .mainPage_cart{
                width: 39px;
                height: 37px;
                position: relative;
                #cart{
                    width: 32px;
                }
                .mainPage_cartCounter{
                    width: 21px;
                    height: 21px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 700;
                    position: absolute;
                    right: 0;
                    top: 2px;
                    background: linear-gradient(to right, #2AF598, #009EFD);
                    color: #2D3949;
                }
            }
        }
        .mainPage_content{
            width: 100%;
            margin-top: 35px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .mainPage_title{
                font-size: 48px;
                font-weight: 700;
            }
            .mainPage_subtitle{
                font-size: 14px;
                font-weight: 300;
                margin-top: 10px;
            }
        }
        .mainPage_inputContainer{
            margin-top: 30px;
            width: 350px;
            height: 55px;
            position: relative;
            display: flex;
            align-items: center;
            .mainPage_searchInput{
                width: 350px;
                height: 55px;
                background-color: #ffffff20;
                border: 1px #fff solid;
                outline: none;
                border-radius: 50px;
                padding: 15px;
                font-size: 16px;
                font-weight: 300;
                color: #fff;
            }
            .mainPage_searchInput::placeholder{
                font-size: 16px;
                font-weight: 300;
                color: #fff;
            }
            .mainPage_searchBtn{
                position: absolute;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: linear-gradient(to right, #2AF598, #009EFD);
                cursor: pointer;
                right: 10px;

                .mainPage_searchBtn_icon{
                    width: 24px;
                }
            }
        }
        .mainPage_blur{
            width: 100%;
            height: 208px;
            background: linear-gradient(to bottom, #ffffff00, #FFFFFF);
            position: absolute;
            bottom: 0;
            left: 0;
        }

    }
    .plants{
        width: 100%;
        min-height: 100vh;
        padding-top: 50px;
        .plants_abilities{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .plants_ability{
                display: flex;
                .plants_abilityImg{
                    width: 63px;
                }
                .plants_abilityText{
                    margin-left: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .plants_abilityTitile{
                        font-size: 24px;
                        font-weight: 500;
                        color: #081323;
                    }
                    .plants_abilityDescription{
                        font-size: 18px;
                        font-weight: 500;
                        color: #828282;
                        margin-top: 8px;
                    }
                }
            }
        }
        .plants_basicContent{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            .plantsContainer_title{
                font-size: 48px;
                font-weight: 500;
                color: #081323;
                margin-bottom: 20px;
            }
            .plantsContainer{
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding-top: 150px;
                .plant{
                    width: 250px;
                    border-radius: 20px;
                    margin-left: 20px;
                    padding: 20px;
                    color: #333;
                    margin-bottom: 20px;
                    .plant_imgCon{
                        width: 300px;
                        height: 380px;
                        background-color: #C1D0E4;
                        border-radius: 50px;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        .plant_img{
                            height: 300px;
                            position: absolute;
                            bottom: 250px;
                        }
                    }
                    .plant_textCon{
                        width: 329px;
                        height: 215px;
                        background-color: #fff;
                        border-radius: 50px;
                        box-shadow: #DDDADA 1px 2px 3px;
                        color: #081323;
                        padding: 30px;
                        .plant_title{
                            font-size: 32px;
                            font-weight: 500;
                        }
                        .plant_PriceAddCon{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-top: 40px;
                            .plant_price{
                                font-size: 24px;
                                font-weight: 500;
                                color: #081323;
                            }
                            .plant_addBtn{
                                width: 50px;
                                height: 50px;
                                color: #fff;
                                background: linear-gradient(to right, #2AF598, #009EFD);
                                font-size: 42px;
                                font-weight: 500;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;
                                cursor: pointer;
                            }
                        }

                        .plant_rating{
                            margin-top: 10px;
                            i{
                                font-size: 20px;
                                color: #F2C94C;
                            }
                        }
                    }

                }
            }
        }

    }

}