@media screen and (max-device-width: 430px) {
    .wrap{
        padding: 20px 30px 20px 30px;
        .header{
            width: 100%;
            align-items: center;
            .nav, .theme{
                display: none;
            }
            .burger{
                display: flex;
                width: 40px;
                height: 25px;
                flex-direction: column;
                justify-content: space-between;
                .burgerRow{
                    width: 100%;
                    height: 3px;
                    border-radius: 6px;
                    background-color: #566270;
                }
            }
        }
        .content{
            .plantsWrapper{
                width: 100%;
                flex-direction: column;
                .newPlantsAndStatisticsCon{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 40px;
                    .addNewPlantsBtn{
                        width: 150px;
                        height: 150px;
                        font-size: 70px;
                    }
                    .statistics{
                        margin-top: 0;
                        margin-left: 10px;
                        h3{
                            font-size: 18px;
                        }
                        .statisticsEl{
                            font-size: 14px;
                        }
                    }
                }
                .plantslist{
                    width: 100%;
                    margin-left: 0;
                    .plant{
                        padding: 6px 10px 6px 10px;
                        .plantName{
                            width: 90px;
                            font-size: 14px;
                        }
                        .plant_actions{
                            width: 60px;
                        }
                    }

                }
            }
            .ordersWrapper{
                .ordersContainer{
                    .order{
                        flex-direction: column;
                        padding: 10px;
                        align-items: flex-start;
                        p{
                            width: 100%;
                            margin-bottom: 10px;
                        }
                        .order_contacts{
                            margin-bottom: 10px;
                        }
                        .order_message{
                            width: 100%;
                            margin-bottom: 13px;
                        }
                        .statusDropdown{
                            margin-bottom: 15px;
                        }
                        .order_delete{
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                        }
                    }
                }
                .finishedOrdersContainer{
                    .order{
                        flex-direction: column;
                        padding: 10px;
                        align-items: flex-start;
                        p{
                            width: 100%;
                            margin-bottom: 10px;
                        }
                        .order_contacts{
                            margin-bottom: 10px;
                        }
                        .order_message{
                            width: 100%;
                            margin-bottom: 13px;
                        }
                        .statusDropdown{
                            margin-bottom: 15px;
                        }
                        .order_delete{
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                        }
                    }
                }
            }
            .contactsWrapper{
                .contacts_leftPart{
                    width: 100%;
                    input{
                        width: 100%;
                    }
                }
                
            }
            .newsWrapper{
                textarea{
                    width: 100%;
                }
            }
        }
    }
    .burger_con{
        display: flex;
        position: fixed;
        background-color: #28344485;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 10;
        .burger{
            width: 80%;
            height: 280px;
            background-color: #fff;
            color: #566270;
            padding: 35px;
            border-radius: 10px;
            display: flex;
            position: relative;
            .theme{
                width: 60px;
                height: 30px;
                border-radius: 20px;
                background-color: #566270;
                display: flex;
                justify-content: flex-start;
                cursor: pointer;
                position: absolute;
                top: 35px;
                right: 35px;
                .theme_circle{
                    width: 30px;
                    height: 30px;
                    background-color: #fff;
                    border-radius: 50%;
                    border: 2px #566270 solid;
                }
            }
            .burgerMenu{
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 24px;
                font-weight: 600;
            }
        }
    }
}